<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />

	  <label for="flag_color">Flag Color:</label>
    <input type="text" name="flag_color" />

    <label for="flag_color_secondary">Flag Secondary Color:</label>
    <input type="text" name="flag_color_secondary" />

    <label for="flag_pattern">Flag Pattern:</label>
    <input type="text" name="flag_pattern" />


    <label for="power_type">Buggy Power Source:</label>
    <input type="text" name="power_type" />


    <label for="power_units">Power Source Quantity:</label>
    <input type="text" name="power_units" />


    <label for="aux_power_type">Auxiliary Power Source:</label>
    <input type="text" name="aux_power_type" />


    <label for="aux_power_units">Auxiliary Power Quantity:</label>
    <input type="text" name="aux_power_units" />


    <label for="hamster_booster">Hamster Booster Quantity:</label>
    <input type="text" name="hamster_booster" />


    <label for="tyres">Type of Tyres:</label>
    <input type="text" name="tyres" />


    <label for="qty_tyres">Number of Tyres:</label>
    <input type="text" name="qty_tyres" />


    <label for="armour">Type of Armour:</label>
    <input type="text" name="armour" />


    <label for="attack">Type of Attack:</label>
    <input type="text" name="attack" />


    <label for="qty_attacks">Number of Attacks:</label>
    <input type="text" name="qty_attacks" />


    <label for="fireproof">Fireproof:</label>
    <input type="text" name="fireproof" />


    <label for="insulated">Insulated:</label>
    <input type="text" name="insulated" />


    <label for="antibiotic">Antibiotic</label>
    <input type="text" name="antibiotic" />


    <label for="banging">Sound System:</label>
    <input type="text" name="banging" />


    <label for="algo">Algorithm Type:</label>
    <input type="text" name="algo" />

    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
